body{
    background-color: #f0f2f5;
}

.logincard{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
}

.nav-items:hover{
    color: white;
    text-decoration: none;
}

.nav-items.active{
    border-bottom: 1.5px solid red;
    color: white;
}

.nav-items{
    color: rgb(198, 198, 198);
}

.footer-item:hover{
    color: white;
    text-decoration: none;
}

.footer-item{
    color: rgb(205, 202, 202)
}

.dropdown-menu{
    min-width: 7rem !important;
}

.profile-card{
    margin-left: 15%;
    margin-right: 15%;
}

.container-fluid{
    padding: 0 !important;
}

.bg-black{
    background-color: rgb(39, 35, 35);
}

@media (max-width:768px) {
    .column{
        flex-direction: column !important;
    }    
}
